<div class="title text-center">


<%=  form_with(url: "/search",method: :get, autocomplete: "off" ) do |form| %>
  <div class="row">  
      <div class="col-4">
        <%= form.label :query %>
        <%= form.text_field :query, value: nil,  placeholder: "Enter name.."  %>
        <%= submit_tag ("Search")%>
        </div>
        <% if @msg %>
        <p> <%= @msg%></p>
        <% end %>
    </div>
<% end %>



  <h1>Employee's List</h1>
</div>
<table class="table table-striped  text-center">
  <thead>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">Gender</th>
    <th scope="col">Email</th>
    <th scope="col">Phone Number</th>
    <th scope="col">Birth Date</th>
    <th scope="col">Hobbies</th>
    <th scope="col">Location</th>

    <th scope="col">Document</th>
  </thead>

  <tbody>
  <% if @employee %>
      <%= render "employee", employee: @employee %>
  <% else %>
    <% @employees.each do |employee|   %> 
      <%= render "employee", employee: employee %>
    <% end %>
  <% end %>   
  <tbody>
  </table>
<div>
    <a class="btn btn-primary" type="submit" href="/employees/new">Register employee</a>
</div>
